.scroll-to-experience-center {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: var(--accent-primary);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.scroll-to-experience-center:hover {
  background-color: var(--accent-hover);
}
