.hero__section {
  position: relative;
  top: 5rem;
}

.about__title {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  color: #b3b3b3;
}

.hero__section p {
  font-size: 20px;
  color: #b3b3b3;
  margin-top: 1rem;
  text-wrap: balance;
  line-height: 1.6;
}

.contact__buttons {
  position: relative;
  top: 1rem;
  display: flex;
  left: -0.65rem;
}
