.navbar__ {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin-left: 2rem;
}

.navbar__logo_1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 20px;
}

.navbar__logo_2 {
  font-size: 1.5rem;
  font-weight: 300;
}

.navbar__logo_1 {
  background: linear-gradient(270deg, #9a67ff, #8447ff, #7414c3, #570b96);
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: wave 3s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}
