/* Contenedor principal de perfil */
.profile__section {
  display: flex;
  align-items: flex-end;
}

/* Contenedor de la foto de perfil */
.profile__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  position: relative;
}

/* Imagen de perfil */
.profile__img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #7414c3;
  box-shadow: 0 4px 8px rgba(29, 29, 29, 0.2);
  object-fit: cover;
  object-position: center;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 600px) {
  .profile__img {
    width: 150px;
    height: 150px;
  }
}

/* Información del usuario */
.profile__user {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 2rem;
  bottom: -0.7rem;
}

.profile__user h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.profile__user span {
  margin-top: 0.5rem;
}

/* Animación del tipo de usuario */
.profile__user__typeanimation {
  font-weight: 700;
}

/* Redes sociales */
.profile__socialmedia {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #b3b3b3;
}
